#loader {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 1;
}

#loader-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.loader {
    border: 16px solid #F3F3F3;
    border-radius: 50%;
    border-top: 16px solid #3498DB;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}