body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.map {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    max-height: 176px;
    min-width: 256px;
    max-width: 256px;
}

.hidden{
    display:none;
}